@page "/stores/{StoreId:int}"
@using BlazorApp2.Models
@using BlazorApp2.Data
@inject Labb1DbContext Context;



<TransitionWrapper>
    <h3>@_store?.StoreName</h3>

    <h4>Inventory</h4>
    @if (_inventory != null)
    {
        <ol style="all:unset;">
            @foreach (var inventoryRow in _inventory)
            {   
                <li class="d-flex flex-row justify-content-between">
                    <div >@inventoryRow.Isbn</div>
                    <div >@inventoryRow.Quantity</div>
                </li>
            }
        </ol>
    }
</TransitionWrapper>


@code {
    [Parameter] public int StoreId { get; set; }
    private IEnumerable<Inventory>? _inventory;
    private Models.Store? _store;
    
    protected override void OnInitialized()
    {
        _store = Context.Stores.ToList().FirstOrDefault(store => store.StoreId == StoreId);
        _inventory = Context.Inventories.ToList().Where(inventory => inventory.StoreId == StoreId);

    }

    
    
}