@page "/stores"
@using BlazorApp2.Models
@using BlazorApp2.Data
@using Microsoft.EntityFrameworkCore
@inject Labb1DbContext Context;


@code {
    private List<Models.Store> Stores;

    protected override async Task OnInitializedAsync()
    {
        Stores = await Context.Stores.ToListAsync();

        // Context.GetStores();
    }
}

<TransitionWrapper>
<h3>Stores</h3>
@if (Stores != null && Stores.Count > 0) {
    foreach (Models.Store store in Stores)
    {
        <div>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@store.StoreName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@store.Address</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="stores/@store.StoreId" class="card-link">Card link</a>
              </div>
            </div>
        </div>
    }
}
</TransitionWrapper>